/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pemilukpa.zip
dummy.csv
public/uploads/nim-email-passwords.csv
public/uploads/nim-name.csv
